PAD_HOST=
PAD_PORT=
PAD_WORKERS_COUNT=
PAD_RELOAD=
PAD_LOG_LEVEL=
PAD_ENVIRONMENT=

PAD_POSTGRES_HOST=
PAD_POSTGRES_PORT=
PAD_POSTGRES_USER=
PAD_POSTGRES_PASS=
PAD_POSTGRES_DB=
PAD_POSTGRES_ECHO=
PAD_POSTGRES_ADMIN_USER=
PAD_POSTGRES_ADMIN_PASS=

PAD_MONGO_HOST=
PAD_MONGO_PORT=
PAD_MONGO_USER=
PAD_MONGO_PASS=
PAD_MONGO_DB=

PAD_MINIO_HOST=
PAD_MINIO_PORT=
PAD_MINIO_USER=
PAD_MINIO_PASS=
PAD_MINIO_BUCKET=
